<a href="https://colab.research.google.com/github/ma631/Movie-recommendation-system/blob/main/Movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/movies_metadata.csv', low_memory=False)

Print first 6 rows of dataset

In [ ]:
movie.head(6)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0
5  False  ...     1886.0

[6 rows x 24 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
movie.shape

(45466, 24)

Print total no. of columns

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Calculating mean vote

In [ ]:
mean=movie['vote_average'].mean()
print(mean)

5.618207215133889

Calculating cutoff value

In [ ]:
minvote=movie['vote_count'].quantile(0.70)
print(minvote)

25.0

filter the movies in other dataframe

In [ ]:
q_movie=movie.copy().loc[movie['vote_count']<=minvote]

In [ ]:
q_movie.shape

(31962, 24)

computing the weighted average using formula

In [ ]:
def weighted_rating(x,minimumvote=minvote,meanvote=mean):
  voter=x['vote_count']
  avg_vote=x['vote_average']
  return (voter/(voter+mean)*avg_vote)+(minvote/(minvote)*mean)

Calculate the score with weighted average in consideration

In [ ]:
q_movie['score']=q_movie.apply(weighted_rating,axis=1)

sort the dataframe in descending order

In [ ]:
q_movie=q_movie.sort_values('score',ascending=False)

setting pandas precision

In [ ]:
pd.set_option('precision',2)

result

In [ ]:
q_movie[['title','vote_count','vote_average','score']].head(50)

                                                   title  ...  score
42378                                          Cosy Dens  ...  12.53
24953                                     Too Many Cooks  ...  12.51
38903                              Bruce Lee: The Legend  ...  12.49
27842                               The Mask You Live In  ...  12.48
42689                                            Parched  ...  12.45
4053                                              Pixote  ...  12.42
22618                                 The Man Who Sleeps  ...  12.39
10560                                Fists in the Pocket  ...  12.37
43321                        In This Corner of the World  ...  12.33
20857                            Bill Hicks: Revelations  ...  12.32
18629                                      The Civil War  ...  12.31
24938                                     Long Way Round  ...  12.26
37200  The Barkley Marathons: The Race That Eats Its ...  ...  12.23
42149                                       Eu Fico Loko  ...  12.23
25461                Dave Chappelle: For What it's Worth  ...  12.21
8557                   An Occurrence at Owl Creek Bridge  ...  12.18
43505                                My Annoying Brother  ...  12.18
40009                         One More Time with Feeling  ...  12.18
20452                                 The House Is Black  ...  12.17
42862                                             Kaabil  ...  12.13
25761                                           Drishyam  ...  12.13
35248                                   Hitting the Apex  ...  12.10
28748                 Cardcaptor Sakura: The Sealed Card  ...  12.10
33371   Les Misérables in Concert - The 25th Anniversary  ...  12.10
18842                     Rush: Beyond the Lighted Stage  ...  12.09
41307                                           Whiplash  ...  12.07
44390                      Hasan Minhaj: Homecoming King  ...  12.07
27912                      Estômago: A Gastronomic Story  ...  12.07
25462                             Bill Hicks: Relentless  ...  12.06
11705                              A Moment of Innocence  ...  12.05
6635                           The Song Remains the Same  ...  12.05
18677                                         Undefeated  ...  12.02
45270                                                Lou  ...  12.01
12466                                   Sigur Rós: Heima  ...  11.99
8730                                    Hearts and Minds  ...  11.99
4929                          Little Dieter Needs to Fly  ...  11.99
42579                              Everything Will Be OK  ...  11.95
41428                                       Food Choices  ...  11.95
30041                                          Radio Day  ...  11.94
8538                     When a Woman Ascends the Stairs  ...  11.94
28297                       Chris Rock: Bigger & Blacker  ...  11.94
39986                       Cardcaptor Sakura: The Movie  ...  11.94
43504                                    Fabricated City  ...  11.94
16787                 Winnie the Pooh and the Honey Tree  ...  11.94
15004                                              India  ...  11.93
38884                               Ali Wong: Baby Cobra  ...  11.93
31892                               The Art of Happiness  ...  11.93
26091                               Bill Burr: Let It Go  ...  11.93
1036                                      Shall We Dance  ...  11.91
25538             Bill Burr: You People Are All The Same  ...  11.91

[50 rows x 4 columns]